.create-contact-wrapper{
    margin-top: 10px;
}

.edit-contact-icon, .delete-contact-icon{
    width: 25px;
    height: 25px;
    display: inline-block;
    cursor: pointer;
}

.delete-contact-icon{
    margin-left: 20px;
}

.edit-contact-icon img, .delete-contact-icon img {
    width: 100%;
    height: 100%;
}

.inactive-filter-swich,.view-filter-swich{
    height: 20px;
    margin: 0 10px;
}

.create-contact-wrapper div{
    display: inline-block;
}

.contact-card{
    display: inline-block;
    float: left;
    margin-bottom: 10px;
}

.contact-card .card{
    padding: 15px;
    box-shadow: 3px 3px 3px #ddd;
    min-height: 160px;
}

.contact-card-div{
    margin-top: 20px;
}

.contact-table-div{
    margin-top: 10px;
}

.modal-dialog{
    top:15%;
}

.contact-table{
    border: 1px solid #ccc;
    box-shadow: 3px 3px 3px #ddd;
}

.contact-thead-tr{
    background: #ccc;
}

.delete-all-btn,.create-contact-btn{
    width: 90%;
    height: 40px;
}

.view-filter-swich, .inactive-filter-swich{
    height: 30px !important;
    vertical-align: top;
}

.react-switch-handle{
    display: none;
}